<!DOCTYPE html>
<html>

<head>
    {% block title %}<title>Test</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
</head>


<body>
    <div class="container-fluid">
        <h1>Тестовое задание</h1>
        <div class="row">
            <div class="col-sm">
                <p>Пункт  1</p>
                <textarea disabled  rows="10" class="form-control" id="outputLogs">{{ messages }}</textarea>
            </div>
            <div class="col-sm">
                <p>Пункт  2</p>
                <textarea disabled  rows="10" class="form-control" id="outputParsed">{{logs}}</textarea>
            </div>
        </div>
    </div>
    <style>
        textarea {
            display: inline-block;
            width: 100%;
            height: auto;
        }
    </style>
</body>

</html>